@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body
{
    font-family: 'Fira Sans', sans-serif;
}

#main
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.clearfloat
{
    clear: both;
}

h3
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.row
{
    float: left;
}

table
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th
{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even)
{
    background-color: #dddddd;
}

/* tablets */
@media (min-width: 650px)
{
    #r1c, #r2c, #r3c
    {
        clear: none;
        float: left;
    }

}

@media (min-width: 992px)
{

    #r1r2
    {
        clear: none;
    }

    #r1
    {
        margin-right: 15px;
    }
}

@media (min-width: 1200px)
{
    #r2r3
    {
        clear: none;
    }

    #r2
    {
        margin-right: 15px;
    }
}